button { /* botão de alterar tema */
  background-color: rgb(104, 224, 168);
  color: black;
  font-size: 15px;
  border-radius: 8px;
  padding: 8px;        /* se eu colocar outro valor de px à direita, ele vai "estirar" o botão pros lados */
  margin-bottom: 16px; /* margem pra uma direção */
}
 
button:hover { /* quando modificar o botão (hoover - mouse em cima) */
  cursor: pointer;
  background-color: rgb(62, 185, 128);
}

a { /* link */
  font-weight: bold;
  color: #444444;
}

body.dark a {
  color: #e5e5e5;
}